# APP_URL: The URL where this application is hosted.
APP_URL="http://localhost:3000"

# Firebase Realtime Database
FIREBASE_DATABASE_URL="https://vexora-724fc-default-rtdb.asia-southeast1.firebasedatabase.app"
FIREBASE_DATABASE_AUTH=
FIREBASE_STORAGE_BUCKET=

# Easebuzz Payment Gateway (India)
EASEBUZZ_KEY=
EASEBUZZ_SALT=
EASEBUZZ_ENV=test # test | prod

# Cron / Reconcile Secret
CRON_SECRET=
